body{
    height: 100%;
    .App{
        padding: 30px; 
        .ForecastContainer{
            padding: 30px; 
            background-color: #322C33;
            display: block; 
            color: white; 
            border-radius: 15px; 
            .TodayContainer{
                display: flex;
                align-content: center;
                flex-direction: column;
                .TodayHeaderSummary{
                    display: block;
                }
                .TodayContainerMiddle{
                    display: flex; 
                    align-items: center;
                    .TodayHighLowContainer{
                        span{
                            display: block; 
                            margin-left: 10px; 
                            color: rgb(206, 206, 206);
                        }
                    }
                }
                .TodayActualTemp{
                    font-size: 4em; 
                }
                .TodayApparentTemp{
                    display: block;
                    font-style: italic;
                }
               
            }
        }
    }
}