body {
  height: 100vh;
  width: 100vw; 
  #root {
    height: 100%;
    width: 100%;
    .App {
      height: 100%;
      overflow: hidden;
      position: absolute;
      margin: 0;
      width: 100vw; 
      height: 100%;
      display: flex;
      justify-content: center; /*centers items on the line (the x-axis by default)*/
      align-items: center; /*centers items on the cross-axis (y by default)*/
      #GetWeatherButton {
        margin: 0 auto;

        background-color: #89ca85;
        border: 2px solid #ffffff;
        border-radius: 30px;
        box-shadow: #422800 4px 4px 0 0;
        color: #1c1b19;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
          background-color: #fff;
        }

        &:active {
          box-shadow: #422800 2px 2px 0 0;
          transform: translate(2px, 2px);
        }

        @media (min-width: 768px) {
          .button-74 {
            min-width: 120px;
            padding: 0 25px;
          }
        }
      }
      .ForecastContainer {
        padding: 30px;
        background-color: #322c33;
        color: white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100vh;
        margin: 20px;
        span {
          flex-basis: 50%;
        }
        .TodayContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          .TodayHeaderSummary {
            display: block;
            font-size: 1.5em;
            padding: 0px;
            margin: 0px;
          }
          .TodayContainerMiddle {
            display: flex;
            align-items: center;
            // color: black;
            // filter: invert(82%) sepia(24%) saturate(5354%) hue-rotate(29deg) brightness(93%) contrast(94%);
            .TodaysWeatherIcon {
              width: 3em;
              filter: invert(99%) sepia(4%) saturate(93%) hue-rotate(249deg)
                brightness(115%) contrast(100%);
            }
            .TodayHighLowContainer {
              span {
                display: block;
                margin-left: 10px;
                color: rgb(206, 206, 206);
              }
            }
          }
          .TodayActualTemp {
            font-size: 4em;
          }
          .TodayApparentTemp {
            display: block;
            font-style: italic;
          }
        }
        .TodayAdditionalDetailsContainer {
          span {
            flex-direction: column;
            align-items: center;
            display: flex;
          }
          .RainContainer {
            .RainIcon {
              width: 52px;
              filter: invert(99%) sepia(4%) saturate(93%) hue-rotate(249deg)
                brightness(115%) contrast(100%);
            }
          }
          .WindContainer {
            .WindIcon {
              width: 52px;
              filter: invert(99%) sepia(4%) saturate(93%) hue-rotate(249deg)
                brightness(115%) contrast(100%);
            }
          }
        }
      }
      .WeeklyForecastContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        background-color: #322c33;
        color: white;
        margin-top: 10px;
        border-radius: 15px;
        .WeeklyForecastItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-basis: 20%;
          text-align: center;
          .WeeklyForecastSummary {
            font-weight: bold;
            font-size: 1.3em;
            margin: 0 auto;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .WeeklyForecastIcon {
            width: 3em;
            filter: invert(99%) sepia(4%) saturate(93%) hue-rotate(249deg)
              brightness(115%) contrast(100%);
          }
          .WeeklyForecastHigh,
          .WeeklyForecastLow {
            color: rgb(206, 206, 206);
          }
          .WeeklyForecastHigh {
            margin-top: 20px;
            padding: 5px;
          }
          .WeeklyForecastLow {
          }
        }
      }
    }
  }
}
